<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/f950da4b0d.js" crossorigin=
  "anonymous"></script>


 <style>

    * {box-sizing: border-box;}
    .column {float:left;width: 33.33%;padding:10px;border: 2px solid black;border-radius: 25px;}
    .row {margin: 10px 10px;}
    .row:after {content: '';display: table;clear: both;}
    .nav-bar {width: 100%;overflow=auto;}
    .nav-bar a {float:right;font-size:20px;padding:10px;text-decoration:none;font-family: Verdana;}
    .nav-bar * {display:inline;}
    .nav-bar i {margin-left: 20px;}
    .nav-bar h1 {font-size: 40px;margin-left: 30px;}
    label {display:block; text-align: center;font-size: 20px;margin-top:25px;font-family: Verdana;}    
    .header {font-size: 20px;font-family: Verdana;padding:10px;}
    .column i {padding: 5px;}

   </style>

</head>

<body>

  <div class="nav-bar">
    <i class="fas fa-align-justify fa-2x"></i>
    <h1>Data Analytics</h1>
    <a href='#'>Customers</a>
    <a href='#'>Prescriptions</a>
    <a href='#'>Predictions</a>
    <a href='#'>Costs</a>
    <a href='#'>Revenue</a>
    <a href='#'>KPIs</a>
  </div>

  <label for="filter">Time Period:</label>
    <div style="text-align:center; margin-top: 10px;">
    <select name="filter" id="filter">
      <option value="Day">Day</option>
      <option value="Week">Week</option>
      <option value="Month">Month</option>
      <option value="Quarter">Quarter</option>
      <option value="Year">Year</option>
    </select>
    </div>


  <div class='row'>
    <div class='column'>
      <h2 style="display: inline-block;">Profit Margins</h2>
      <i class="fas fa-caret-up fa-4x" style="display: inline-block;float:right;color:green;"></i>
      <p class='header' style="display: inline-block; float: right;">9.13%</p>  
      <p>Net Profit Margin: 1.2</p>
      <p>Gross Profit Margin: 3.21</p>
    </div>

    <div class='column'>
      <h2 style="display: inline-block;">Sales</h2>
      <i class="fas fa-caret-up fa-4x" style="display: inline-block;float:right;color:green;"></i>
      <p class='header' style="display: inline-block; float: right;">$123</p>
      <p>Products Sold: 42</p>
     </div>

    <div class='column'>
      <h2 style="display:inline-block;">Weekly Website Traffic</h2>
    <i class="fas fa-caret-up fa-4x" style="display: inline-block;float:right;color:green;"></i>
      <p class='header' style="display: inline-block; float: right;">83 Visits</p>
      <p>Current Web Leads: 134</p>
      <p>Total Web Followers: 1,340</p>
       </div>
   </div>

   <div class=row'>  
    <div class='column'>
      <h2 style="display:inline-block;">Cash Balance</h2>
      <i class="fas fa-caret-up fa-4x" style="display: inline-block;float:right;color:green;"></i>
      <p class='header' style="display: inline-block; float: right;">18,713$</p>   
      <p>Weekly Cash Flow: + $830</p>
      <p>Current Debt: $3,700</p>
      </div>
    <div class='column'>
      <h2 style="display:inline-block;">Ratios</h2>
      <i class="fas fa-caret-down fa-4x" style="display: inline-block;float:right;color:red;"></i>
      <p class='header' style="display: inline-block; float: right;">1.32</p>
      <p>Current Ratio: 1.26</p>
      <p>Quick Ratio: 0.98</p> 
     </div>

    <div class='column'>
      <h2 style="display:inline-block;">Net Promoter Score</h2>
      <i class="fas fa-caret-up fa-4x" style="display: inline-block;float:right;color:green;"></i>
      <p class='header' style="display: inline-block; float: right;">7.7</p>
     <p>Web Promotions by others: 113</p>
    <p>Current Web Eval Score: 7.1</p> 
      </div>
    </div>

   <div class='row'>
    <div class='column'>
      <h2 style="display:inline-block">Qualified Leads</h2>
      <i class="fas fa-caret-up fa-4x" style="display: inline-block;float:right;color:green;"></i>
      <p class='header' style="display: inline-block; float: right;">32</p>
      <p>Grpah</p>
      <p>show distribution sources</p>
    </div>

    <div class='column'>
      <h2 style="display:inline-block;">Trail:Win Rate</h2>
      <i class="fas fa-caret-up fa-4x" style="display: inline-block;float:right;color:green;"></i>
      <p class='header' style="display: inline-block; float: right;">64%</p>
    <p>Lead-Client Conversion Rate: 36%</p>
    <p>graph dist.</p>
     </div>
  
    <div class='column'>
      <h2 style="display:inline-block;">LTV:CAC Ratio </h2>
    <i class="fas fa-caret-up fa-4x" style="display: inline-block;float:right;color:green;"></i>
      <p class='header' style="display: inline-block; float: right;">3:1</p>
      <p>Avg. Customer Value: $192</p>
     <p>Avg. Customer Acqusition Cost: $63</p>
    </div>
   </div>

   <div class='row'>
    <div class='column'>
      <h2 style="display:inline-block;">Return on Investment</h2>
      <i class="fas fa-caret-up fa-4x" style="display: inline-block;float:right;color:green;"></i>
      <p class='header' style="display: inline-block; float: right;">8%</p>
      <p>Weekly Investments: $1,102</p>
      <p>graph?</p>
     </div>

    <div class='column'>
      <h2 style="display:inline-block;">Weekly Revenue Growth</h2>
      <i class="fas fa-caret-up fa-4x" style="display: inline-block;float:right;color:green;"></i>
      <p class='header' style="display: inline-block; float: right;">12.3%</p>
        <p>graoh</p>
       <p>graph</p>   
     </div>

    <div class='column'>
      <h2 style="display:inline-block;">Customer Retention</h2>
      <i class="fas fa-caret-down fa-4x" style="display: inline-block;float:right;color:red;;"></i>
      <p class='header' style="display: inline-block; float: right;">13.2%</p>   
      <p>Churn rate: 67%</p>
      <p>Repeat Purchase Ratio: 17%</p>
       </div>
  </div>





</body>
