<head>

  <style>
    * {box-sizing: border-box;}
    .row::after {content: "";clear: both;display: table;}
    [class*="col-"] {float: left; padding: 0px;}
    [class*="col-"] {width: 100%;}

    @media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    }
    #hea > p {font-size: 20px;}
    h1 {display: inline-block; font-size: 35px;}
    div.menu {float: right;}
    ul {display: inline-block; font-size: 24px; margin-top: 35px;}
    li {display: inline-block; margin-right: 30px;}
    i {color: #4285F4; margin-left: 15px; margin-right: 15px;}
    a  {text-decoration: none;}
    a:visited {text-decoration: none;color: black;}
    .header {border-bottom-style: solid; border-color: grey;}
    .container {display: grid; grid-template-columns: repeat(12, 1fr);}
    table {margin: 20px; width: 90%; border-collapse: collapse;}
    table, th, td {border: 1px solid black; background-color: 'transparent';}
    th, td {padding: 10px; text-align: center;}
    th {font-size: 20px;}


  </style>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" 
   crossorigin="anonymous">
  <script src="https://cdn.plot.ly/plotly-2.3.1.min.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel=
      "stylesheet">


</head>

<body>
  
  <div class="header">
  <h1><i class="fas fa-bars"></i> Data Analytics</h1>
  <div class="menu">
    <ul>
      <li style="border-bottom: 3px solid blue; ">KPI</li>
      <li><a href="/financial">Finance</a></li>
      <li><a href="/customer">Customer</a></li>
      <li><a href="/guide">Guide</a></li>
    </ul>
  </div>
  </div>

  <div class="row">
    <div id="pro" class="col-3"> </div>    
    <div id="acc" class="col-3"> </div>
    <div id="fut" class="col-3"> </div>
    <div id="cus" class="col-3"> </div>
  </div>


  <div class="row">
    <div id="web" class="col-3" style="margin-top: 20px;">
	<p style="margin-left: 225px;font-family: 'Open Sans'
	    ;font-size: 17px;">Sales Funnel</p>
      <table style="margin-top: 30px;">
        <tr>
          <th></th>
          <th style="color: 4285F4">Social Media</th>
          <th style="color: DB4437">Website</th>
          <th style="color: 0F9D58">Email List</th>
        </tr>
      <tr>
        <th>Leads</th>
        <td>1,240</td>
	<td>112</td>
	<td>325</td>
      </tr>
      <tr>
        <th>Prospects</th>
        <td>460</td>
	<td>33</td>
	<td>215</td>
       </tr>
       <tr>
         <th>Opportunites</th>
         <td>78</td>
	 <td>12</td>
	 <td>45</td>
       </tr>
       <tr>
	 <th>Closed</th>
	 <td>23</td>
	 <td>7</td>
	 <td>39</td>
       </tr>
       <tr>
         <th>Conversion</th>
	 <td>27%</td>
	 <td>76%</td>
         <td>88%</td>
        </tr>
        <tr>
	  <th>Churn Rate</th>
	  <td>22%</td>
	  <td>17%</td>
	  <td>4%</td>
        </tr>
      </table>    
    </div>

    <div id="cosdis" style="margin-left: 0px;" class="col-3"> </div>
    <div id="revdis" style="margin-left: 0px;" class="col-3"> </div>
    <div id='hea' class="col-3">
      <p style="font-size: 17px;margin-left: 100px;font-family: Open Sans">
          Business Health</p>
       <br>
      <p>N.P.S. <i style="color: de5246;" class="fas fa-thumbs-down 
            fa-lg"></i>(current: 6.2 - target: 7.0)</p>
      <p>Customer Convert % <i style="color: de5246;" class="fas fa-thumbs-down 
            fa-lg"></i> (current: 17% - target: 20%)</p>
     <p>Quick Ratio<i style="color: F4B400;" class="fas fa-exclamation-triangle 
            fa-lg"></i>(current: 1.03 -  target: 1.0+)</p>
    <p>LTV:CAC ratio<i style="color: F4B400;" class="fas fa-exclamation-triangle
            fa-lg"></i>(current: 1.13 -  target: 3:1)</p>
    <p>Profit Margins
      <i style="color: 1aa260;"class="fas fa-thumbs-up"></i></p>
    <p>Current Ratio                       
      <i style="color: 1aa260;"class="fas fa-thumbs-up"></i></p>
     <p>Return on Investment 
      <i style="color: 1aa260;"class="fas fa-thumbs-up"></i></p>
     <p>Working Capital 
      <i style="color: 1aa260;"class="fas fa-thumbs-up"></i></p>
      <p>Debt-to-Equity ratio 
      <i style="color: 1aa260;"class="fas fa-thumbs-up"></i></p>



    </div>

  </div>




<script>

var trace1 = {
  x: ['2021-1','2021-2','2021-3','2021-4','2021-5',
    '2021-6','2021-7','2021-8','2021-9'],
  y: [9000,18000,23000,36000,47000,48000,65000,70000,78000],
  name: "Revenue",
  type: 'scatter',
  line: {color: '0F9D58', width: 4}
};

var trace2 = {
  x: ['2021-1','2021-2','2021-3','2021-4','2021-5',
    '2021-6','2021-7','2021-8','2021-9'],
  y: [6000,10000,13000,23000,25000,31000,34000,41000,45000],
  name: "Costs",
  type: 'scatter',
  line: {color: 'DB4437', width: 4}
};

var data = [trace1, trace2];
var layout = {title: "Year-to-Date Profit: + $33,230",
             xaxis: {showgrid: false, showline: true,range: 
		['2021-01-01','2021-09-31'], type: 'date'},
             yaxis: {showgrid: false, showline: true,
		autorange: true,
    range: [0, 100,000],
    type: 'linear'}  };

Plotly.newPlot('pro', data, layout);








var trace1 = {
  x: ['2021-1','2021-2','2021-3','2021-4','2021-5',
    '2021-6','2021-7','2021-8','2021-9','2021-10','2021-11','2021-12'],
  y: [6,12,19,23,26,32,45,59,62],
  name: 'Product',
  type: 'bar',
  marker: {color: 'F4B400'}
};

var trace2 = {
  x: ['2021-1','2021-2','2021-3','2021-4','2021-5',
    '2021-6','2021-7','2021-8','2021-9','2021-10','2021-11','2021-12'],
  y: [8.5,17,37,46,54,53,51,61,64],
  name: 'Service',
  type: 'bar',
  marker: {color: '4285F4'}
};
var trace3 = {
  x: ['2021-1','2021-2','2021-3','2021-4','2021-5',
    '2021-6','2021-7','2021-8','2021-9','2021-10','2021-11','2021-12'],
  y: [13,26,39,54,65,80,93,110,123,132,142,153],
  name: "Prediction",
  type: 'scatter',
  line: {color: 'DB4437', width: 4}
};


var data = [trace1,trace2,trace3];
var layout = {barmode: 'stack',title: "Year-to-Date Total Accounts: 123",
             xaxis: {showgrid: false, showline: true,
		 range: ['2021-01-01', '2021-12-31'],
    type: 'date'    },
             yaxis: {showgrid: false, showline: true,
		autorange: true,
    range: [0, 160],
    type: 'linear'    }  };

Plotly.newPlot('acc', data, layout);









var profits = {
  x: ['2021-1','2021-2','2021-3','2021-4','2021-5',
    '2021-6','2021-7','2021-8','2021-9','2021-10',
    '2021-11','2021-12'],
  y: [4000,5000,10000,24000,28000,25000,36000,
     33500], name: "YTD Profit",
  mode: 'markers',
  type: 'scatter',
  marker: {size: 8},
};

var prediction = {
  x: ['2021-1','2021-2','2021-3','2021-4','2021-5',
    '2021-6','2021-7','2021-8','2021-9','2021-10',
    '2021-11','2021-12'],
  y: [4000,12000,14000,19000,23000,28000,30000
   ,32000,33000,36000,47000,52000],
   name: "Prediction",
  mode: 'lines',
  type: 'scatter',
  line: {color: 'F4B400',width: 5}
};


var data = [profits, prediction];
var layout = {title: 
   "Annual Profits Prediction: + $52,34"}

Plotly.newPlot('fut', data, layout);









var data = [
  {
    type: "indicator",
    mode: "number+gauge",
    value: 6.3,
    domain: { x: [0.25, 1], y: [0.08, 0.25] },
    title: { text: "Survey" },
    gauge: {
      shape: "bullet",
      axis: { range: [null, 10] },
      threshold: {
        line: { color: "black", width: 2 },
        thickness: 0.75,
        value: 6.3
      },
      steps: [
        { range: [0, 5], color: "DB4437" },
        {
          range: [5, 10],
          color: "0F9D58"
        }
      ],
      bar: { color: "black" }
    }
  },
  {
    type: "indicator",
    mode: "number+gauge",
    value: 17,
    domain: { x: [0.25, 1], y: [0.4, 0.6] },
    title: { text: "Convert %" },
    gauge: {
      shape: "bullet",
      axis: { range: [null, 100] },
      threshold: {
        line: { color: "black", width: 2 },
        thickness: 0.75,
        value: 17
      },
      steps: [
        { range: [0, 50], color: "DB4437" },
        { range: [50, 100], color: "0F9D58" }
      ],
      bar: { color: "black" }
    }
  },
  {
    type: "indicator",
    mode: "number+gauge",
    value: 6.2,
    domain: { x: [0.25, 1], y: [0.7, 0.9] },
    title: { text: "N.P.S." },
    gauge: {
      shape: "bullet",
      axis: { range: [null, 10] },
      threshold: {
        line: { color: "black", width: 2 },
        thickness: 0.75,
        value: 6.2
      },
      steps: [
        { range: [0, 5], color: "DB4437" },
        { range: [5, 10], color: "0F9D58" }
      ],
      bar: { color: "black" }
    }
  }
];

var layout = {title: "Customer Evaluation Score: 6.2",
  width: 450, height: 400,
  margin: { t: 100, r: 0, l: 0, b: 0 }
};
Plotly.newPlot('cus', data, layout);










 var data = [{
  type: "pie",
  values: [20, 30, 40, 40, 40,50],
  labels: ["Operations", "Employees", "Marketing",
           "Taxes/Interest", "Other"],
  textinfo: "label+percent",
  textposition: "inside",
  automargin: true,
  marker: {colors: ['4285F4','DB4437','F4B400','0F9D58','C0C0C0']}
}
];

var layout = {title: "Costs Distribution",
  height: 380,
  width: 380,
  margin: {"t": 75, "b": 0, "l": 0, "r": 0},
  showlegend: false
  }

Plotly.newPlot('cosdis', data, layout)







var data = [{
  type: "pie",
  values: [20, 30, 40, 30,10],
  labels: ["Subscription", "Product", "Advertising",
            "Service", "Other"],
  textinfo: "label+percent",
  textposition: "inside",
  automargin: true,
  marker: {colors: ['4285F4','DB4437','F4B400','0F9D58','C0C0C0']}
}
];

var layout = {title: "Revenue Distribution",
  height: 380,
  width: 380,
  margin: {"t": 75, "b": 0, "l": 0, "r": 0},
  showlegend: false
  }

Plotly.newPlot('revdis', data, layout)








</script>


</body>


