<head>

  <style>
    h1 {display: inline-block; font-size: 40px;}
    div.menu {float: right;}
    ul {display: inline-block; font-size: 28px; margin-top: 35px;}
    li {display: inline-block; margin-right: 15px;}
    i {margin-left: 15px; margin-right: 15px;}
    .header {border-bottom-style: solid; border-color: grey;}
    .container {display: grid; 
                grid-template-columns: repeat(12, 1fr);}
    #pro {grid-column: 1 / 5;}  
    #casflo  {grid-column: 5 / 9;}
    #fun {grid-column: 9 / 13;}
  </style>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" 
   crossorigin="anonymous">
  <script src="https://cdn.plot.ly/plotly-2.3.1.min.js"></script>

</head>

<body>
  
  <div class="header">
  <h1><i class="fas fa-bars"></i> DataBoard</h1>
  <div class="menu">
    <ul>
      <li>KPIs</li>
      <li>Revenue</li>
      <li>Costs</li>
      <li>Future</li>
      <li>Customers</li>
    </ul>
  </div>
  </div>

  <div class="container">
    <div id="pro"> </div>    
    <div id="casflo"> </div>
    <div id="fun"> </div>
    
  </div>


<script>

var trace1 = {
  x: ['2021-9-1','2021-9-2','2021-9-3','2021-9-4','2021-9-5'],
  y: [10, 15, 13, 17, 20],
  name: "Revenue",
  type: 'scatter',
  line: {color: 'green', width: 3}
};

var trace2 = {
  x: ['2021-9-1','2021-9-2','2021-9-3','2021-9-4','2021-9-5'],
  y: [16, 5, 11, 9, 20],
  name: "Costs",
  type: 'scatter',
  line: {color: 'red', width: 3}
};

var data = [trace1, trace2];
var layout = {title: "Weekly Net Profit: + $1,230",
             xaxis: {showgrid: false, showline: true},
             yaxis: {showgrid: false, showline: true}  };

Plotly.newPlot('pro', data, layout);


var trace1 = {
  x: ['2021-9-1','2021-9-2','2021-9-3','2021-9-4','2021-9-5'],
  y: [1, 4, 2, 7, 3],
  marker:{
    color: ['#17B169', '#17B169', '#17B169','#17B169','#17B169']},
  name: 'Trace1',
  type: 'bar'
};
var trace2 = {
  x: ['2021-9-1','2021-9-2','2021-9-3','2021-9-4','2021-9-5'],
  y: [6, 2, 4.5, 5, 3],
  marker:{
    color: ['green', 'green', 'green','green','green']},
  name: 'Trace2',
  type: 'bar'
};
var trace3 = {
  x: ['2021-9-1','2021-9-2','2021-9-3','2021-9-4','2021-9-5'],
  y: [-5, -3,-4.5, -2, -3],
  name: 'Trace3',
  marker:{
    color: ['#f08080', '#f08080', '#f08080','#f08080','#f08080']},
  type: 'bar'
 }

 var trace4 = {
  x: ['2021-9-1','2021-9-2','2021-9-3','2021-9-4','2021-9-5'],
  y: [-1, -3, -3, -4],
  name: 'Trace4',
   marker:{
    color: ['red', 'red', 'red','red','red']},
  type: 'bar'
 }


var data = [trace1, trace2, trace3, trace4];
var layout = {barmode: 'relative',title: 'Weekly Cash Flow' };

Plotly.newPlot('casflo', data, layout);


var gd = document.getElementById('myDiv');

var data = [{type: 'funnel',
             y: ["Aware", "Leads", 
              "Prospects", "Closed Deals"],
             x: [950,732, 445, 220], textposition:
             "inside", textinfo: "value",
             hoverinfo: 'percent total+x', opacity: 0.65, marker: 
             {color: ["59D4E8", "DDB6C6", "67EACA", "A696C8"],
             line: {"width": [4, 2, 2, 3, 1, 1],
              color: ["3E4E88", "606470", "3E4E88", "3E4E88"]}},
             connector: {line: {color: "royalblue",
              dash: "solid", width: 3}}}];

var layout = {title: "Sales Funnel",
              margin: {l: 100}, width: 600, height: 500}

Plotly.newPlot('fun', data, layout);



</script>


</body>


